anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
debugpy
decorator
defusedxml
executing
fastjsonschema
fqdn
idna
ipykernel
ipython
ipython-genutils
ipythonblocks
isoduration
jedi
Jinja2
jsonpointer
jsonschema
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandocfilters
parso
pexpect
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyiter
pyrsistent
python-dateutil
python-json-logger
PyYAML
pyzmq
requests
rfc3339-validator
rfc3986-validator
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tk
tornado
traitlets
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
torch
torchvision
pandas
sklearn
scikit-learn
scipy
matplotlib
openai
sentiment-analysis-spanish
nltk